<div class="main issue-view">
  {{#with model.issue as |issue|}}
    <h1>{{issue.title}} <span class="issue-number">#{{issue.id}}</span></h1>
    <button class="new-issue">New Issue</button>
    <div class="issue-metadata">
      <span class="issue-status open">
        <span class="icon-issue-opened"></span>
        Open
      </span>
      <span>{{issue.user.login}} opened this issue {{moment-from-now issue.createdAt}} · {{issue.commentCount}} comments</span>
    </div>
    <hr>
    <div class="issue-comment">
      <div class="issue-comment-author">
        <a href="{{issue.user.html_url}}">
          <img src="{{issue.user.avatar_url}}">
        </a>
      </div>
      <div class="issue-comment-content">
        <div class="issue-comment-attribution"><a href="{{issue.user.html_url}}">{{issue.user.login}}</a> commented {{moment-from-now issue.createdAt}}</div>
        <div>
          {{md-text text=issue.body linkify=true}}
        </div>
      </div>
    </div>

    {{#each issue.comments as |comment|}}
      <div class="issue-comment">
        <div class="issue-comment-author">
          <img src="{{comment.user.avatar_url}}">
        </div>
        <div class="issue-comment-content">
          <div class="issue-comment-attribution"><a href="{{comment.user.html_url}}">{{comment.user.login}}</a> commented {{moment-from-now comment.createdAt}}</div>
          <div>
            {{md-text text=comment.body linkify=true}}
          </div>
        </div>
      </div>
    {{/each}}
  {{/with}}
</div>
